<div class="col-md-12">
  <% if notice.present? %>
  <div id="notice", class="alert alert-primary shadow p-2 m-2"><%= notice %></div>
  <% end %>
  <h1 id="index-title">Blogs
    <span class="badge badge-success"><em><%= @blogs.count %> articles</em></span>
  </h1>
<div class="container">
    <%= render @blogs %>
</div>
<br>

<%= link_to "New blog", new_blog_path %>
