<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">JB Boisseau</h3>
    <nav class="nav nav-masthead app-nav">
    <div class="nav-link">
      <%= nav_helper "nav_link", 'span' %>
    </div>
      <%= login_helper  %>
    </nav>
  </div>
</div>
